In [140]:
import random
from datetime import datetime
random.seed(datetime.now().microsecond)
import pandas as pd

In [141]:
bracket = pd.read_csv('bracket.csv')
teams = pd.read_csv('teams.csv')

In [142]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TeamID    64 non-null     int64
 1   TeamName  64 non-null     object
 2   Seed      64 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.6+ KB

In [143]:
bracket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Round   63 non-null     int64
 1   gID     63 non-null     int64
 2   T1      32 non-null     float64
 3   T2      32 non-null     float64
 4   gIDT1   31 non-null     float64
 5   gIDT2   31 non-null     float64
 6   Result  0 non-null      float64
dtypes: float64(5), int64(2)
memory usage: 3.6 KB

In [144]:
def predict(round):
    for row in bracket.loc[bracket.Round == round].itertuples():
        team1ID, team2ID = row.T1, row.T2
        team1Seed = teams[teams.TeamID == team1ID].Seed.iloc[0]
        team2Seed = teams[teams.TeamID == team2ID].Seed.iloc[0]
        prob_1 = team2Seed / (team1Seed + team2Seed)
        if random.random() < prob_1:
            bracket.loc[bracket.gID == row.gID, 'Result'] = team1ID
        else:
            bracket.loc[bracket.gID == row.gID, 'Result'] = team2ID

In [145]:
def fillRound(round):
    for row in bracket.loc[bracket.Round == round].itertuples():
        bracket.loc[bracket.gID == row.gID, "T1"] = bracket.loc[bracket.gID == row.gIDT1, "Result"].iloc[0]
        bracket.loc[bracket.gID == row.gID, "T2"] = bracket.loc[bracket.gID == row.gIDT2, "Result"].iloc[0]

In [146]:
def predictAll():
    predict(1)
    for i in range(2, 7):
        fillRound(i)
        predict(i)

In [147]:
predictAll()

In [149]:
bracket.head()

   Round  gID   T1    T2  gIDT1  gIDT2  Result
0      1    1  1.0   2.0    NaN    NaN     1.0
1      1    2  3.0   4.0    NaN    NaN     3.0
2      1    3  5.0   6.0    NaN    NaN     5.0
3      1    4  7.0   8.0    NaN    NaN     7.0
4      1    5  9.0  10.0    NaN    NaN    10.0

In [169]:
def showBracket():    
    currentRound = 0
    for row in bracket.itertuples():
        if row.Round != currentRound:
            currentRound = row.Round
            print("#"*60)
            print(f"Round {currentRound}:")
        t1 = teams.loc[teams.TeamID == row.T1].TeamName.iloc[0]
        s1 = teams.loc[teams.TeamID == row.T1].Seed.iloc[0]
        t2 = teams.loc[teams.TeamID == row.T2].TeamName.iloc[0]
        s2 = teams.loc[teams.TeamID == row.T2].Seed.iloc[0]
        winner = teams.loc[teams.TeamID == row.Result].TeamName.iloc[0]
        winnerSeed = teams.loc[teams.TeamID == row.Result].Seed.iloc[0]
        print(f"{t1} {s1} vs {t2} {s2}")
        print(f"Winner: {winner} {winnerSeed}")
        print("-"*50)

In [170]:
showBracket()

############################################################
Round 1:
 Auburn 1 vs  Alabama St/St Francis PA 16
Winner:  Auburn 1
--------------------------------------------------
 Louisville 8 vs  Creighton 9
Winner:  Louisville 8
--------------------------------------------------
 Michigan 5 vs  UC San Diego 12
Winner:  Michigan 5
--------------------------------------------------
 Texas A&M 4 vs  Yale 13
Winner:  Texas A&M 4
--------------------------------------------------
 Ole Miss 6 vs  San Diego State/North Carolina 11
Winner:  San Diego State/North Carolina 11
--------------------------------------------------
 Iowa State 3 vs  Lipscomb 14
Winner:  Lipscomb 14
--------------------------------------------------
 Marquette 7 vs  New Mexico 10
Winner:  New Mexico 10
--------------------------------------------------
 Michigan State 2 vs  Bryant 15
Winner:  Bryant 15
--------------------------------------------------
 Florida 1 vs  Norfolk State 16
Winner:  Florida 1
--------------------------------------------------
 UConn 8 vs  Oklahoma 9
Winner:  Oklahoma 9
--------------------------------------------------
 Memphis 5 vs  Colorado State 12
Winner:  Memphis 5
--------------------------------------------------
 Maryland 4 vs  Grand Canyon 13
Winner:  Maryland 4
--------------------------------------------------
 Missouri 6 vs  Drake 11
Winner:  Missouri 6
--------------------------------------------------
 Texas Tech 3 vs  UNC Wilmington 14
Winner:  Texas Tech 3
--------------------------------------------------
 Kansas 7 vs  Arkansas 10
Winner:  Kansas 7
--------------------------------------------------
 St John's 2 vs  Omaha 15
Winner:  St John's 2
--------------------------------------------------
 Duke 1 vs  American/Mount St Mary's 16
Winner:  Duke 1
--------------------------------------------------
 Mississippi State 8 vs  Baylor 9
Winner:  Mississippi State 8
--------------------------------------------------
 Oregon 5 vs  Liberty 12
Winner:  Oregon 5
--------------------------------------------------
 Arizona 4 vs  Akron 13
Winner:  Arizona 4
--------------------------------------------------
 BYU 6 vs  VCU 11
Winner:  BYU 6
--------------------------------------------------
 Wisconsin 3 vs  Montana 14
Winner:  Wisconsin 3
--------------------------------------------------
 Saint Mary's 7 vs  Vanderbilt 10
Winner:  Saint Mary's 7
--------------------------------------------------
 Alabama 2 vs  Robert Morris 15
Winner:  Alabama 2
--------------------------------------------------
 Houston 1 vs  SIUE 16
Winner:  Houston 1
--------------------------------------------------
 Gonzaga 8 vs  Georgia 9
Winner:  Georgia 9
--------------------------------------------------
 Clemson 5 vs  McNeese 12
Winner:  Clemson 5
--------------------------------------------------
 Purdue 4 vs  High Point 13
Winner:  Purdue 4
--------------------------------------------------
 Illinois 6 vs  Texas/Xavier 11
Winner:  Illinois 6
--------------------------------------------------
 Kentucky 3 vs  Troy 14
Winner:  Kentucky 3
--------------------------------------------------
 UCLA 7 vs  Utah State 10
Winner:  UCLA 7
--------------------------------------------------
 Tennessee 2 vs  Wofford 15
Winner:  Tennessee 2
--------------------------------------------------
############################################################
Round 2:
 Auburn 1 vs  Louisville 8
Winner:  Auburn 1
--------------------------------------------------
 Michigan 5 vs  Texas A&M 4
Winner:  Michigan 5
--------------------------------------------------
 San Diego State/North Carolina 11 vs  Lipscomb 14
Winner:  San Diego State/North Carolina 11
--------------------------------------------------
 New Mexico 10 vs  Bryant 15
Winner:  New Mexico 10
--------------------------------------------------
 Florida 1 vs  Oklahoma 9
Winner:  Florida 1
--------------------------------------------------
 Memphis 5 vs  Maryland 4
Winner:  Maryland 4
--------------------------------------------------
 Missouri 6 vs  Texas Tech 3
Winner:  Texas Tech 3
--------------------------------------------------
 Kansas 7 vs  St John's 2
Winner:  St John's 2
--------------------------------------------------
 Duke 1 vs  Mississippi State 8
Winner:  Duke 1
--------------------------------------------------
 Oregon 5 vs  Arizona 4
Winner:  Arizona 4
--------------------------------------------------
 BYU 6 vs  Wisconsin 3
Winner:  Wisconsin 3
--------------------------------------------------
 Saint Mary's 7 vs  Alabama 2
Winner:  Alabama 2
--------------------------------------------------
 Houston 1 vs  Georgia 9
Winner:  Houston 1
--------------------------------------------------
 Clemson 5 vs  Purdue 4
Winner:  Purdue 4
--------------------------------------------------
 Illinois 6 vs  Kentucky 3
Winner:  Kentucky 3
--------------------------------------------------
 UCLA 7 vs  Tennessee 2
Winner:  Tennessee 2
--------------------------------------------------
############################################################
Round 3:
 Auburn 1 vs  Michigan 5
Winner:  Michigan 5
--------------------------------------------------
 San Diego State/North Carolina 11 vs  New Mexico 10
Winner:  San Diego State/North Carolina 11
--------------------------------------------------
 Florida 1 vs  Maryland 4
Winner:  Florida 1
--------------------------------------------------
 Texas Tech 3 vs  St John's 2
Winner:  St John's 2
--------------------------------------------------
 Duke 1 vs  Arizona 4
Winner:  Arizona 4
--------------------------------------------------
 Wisconsin 3 vs  Alabama 2
Winner:  Wisconsin 3
--------------------------------------------------
 Houston 1 vs  Purdue 4
Winner:  Houston 1
--------------------------------------------------
 Kentucky 3 vs  Tennessee 2
Winner:  Tennessee 2
--------------------------------------------------
############################################################
Round 4:
 Michigan 5 vs  San Diego State/North Carolina 11
Winner:  Michigan 5
--------------------------------------------------
 Florida 1 vs  St John's 2
Winner:  Florida 1
--------------------------------------------------
 Arizona 4 vs  Wisconsin 3
Winner:  Wisconsin 3
--------------------------------------------------
 Houston 1 vs  Tennessee 2
Winner:  Tennessee 2
--------------------------------------------------
############################################################
Round 5:
 Michigan 5 vs  Florida 1
Winner:  Florida 1
--------------------------------------------------
 Wisconsin 3 vs  Tennessee 2
Winner:  Tennessee 2
--------------------------------------------------
############################################################
Round 6:
 Florida 1 vs  Tennessee 2
Winner:  Tennessee 2
--------------------------------------------------